.stats-pane {
  display: block;
  padding: 10px;
  /* background: linear-gradient("",""); */
  /* background: #8e9eab; fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to top left,
    #eef2f3,
    #8e9eab
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  border-radius: 20px;
  width: 30vw;
  margin: auto;
}

.team-name {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.team-members {
  font-size: 20px;
}

.account-balance {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.properties-owned {
  display: block;
  list-style-type: none;
  padding: 0;
  height: 58vh;
  overflow-y: scroll;
  border-radius: 20px;
}

.propertyy {
  display: block;
  border-radius: 10px;
  padding: 17px;
  padding-left: 27px;
  margin: 5px;
  font-size: 18px;
  background: linear-gradient(315deg, #eddcdc 0%, #bad4f0 74%);
}

.property-name {
  text-align: center;
}
